<!DOCTYPE html>
<!-- incluir o thymeleaf -->
<html lang="en" xmlns:th=http://thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste thymeleaf</title>
</head>
<body>
    <!-- inserir a nav bar -->
     <div th:insert="~{fragmentos/header :: header}"></div>
    <h1>Seja Bem Vido</h1>
    <span th:text="${msg}"></span>

    <br>
    <form action="/home" method="post">
        Nome: <input type="text" name="nome" id="nome">
        <button type="submit">Enviar</button>

    </form>
    
</body>
</html>