nav{
    background-color: #333;
    overflow: hidden;
}
div .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-family: Comic Sans Ms;
    font-size: 2vh;
}   